<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.gov.mashawery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mashawery">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <receiver
            android:name=".reminder.view.CancelReciever"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".reminder.view.StartReciever"
            android:enabled="true"
            android:exported="true" />


        <activity android:name=".Profile.Profile"></activity>
        <activity android:name=".registeration.view.splashScrean">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".reminder.view.ReminderActivity"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".trip.edit.view.EditTripActivity" />
        <activity android:name=".history.view.HistoryActivity" />
        <activity android:name=".trip.create.view.TimePickers" />
        <activity android:name=".registeration.view.LoginActivity" />

        <activity android:name=".registeration.view.RegisterActivity">

        </activity>
        <activity android:name=".trip.create.view.AddTripActivity" />

        <service
            android:name=".helpPackag.FloatingViewService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".home.view.MainActivity" />

        <receiver
            android:name=".reminder.view.TripReminderReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>